In [64]:
#Проанализировать массив данных при помощи языка Python (допускается и рекомендуется использование дополнительных библиотек): 
 #   вычисление среднего, максимального/минимального значений, медианы, моды числовых значений как для всего массива в целом, так и для каждого типа 
  #  контента (столбец Type) в отдельности. Найти самый популярный объект в выборке, объяснить почему. Решение предоставить в виде .py/.ipynb файла на github. 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['dataset_Facebook.csv']

In [12]:
#input data
df = pd.read_csv(os.path.join('../input', 'dataset_Facebook.csv'), sep = ';')
df.shape

(500, 19)

In [46]:
#посмотрим на данные
df.head(10)

   Page total likes    Type         ...          share  Total Interactions
0            139441   Photo         ...           17.0                 100
1            139441  Status         ...           29.0                 164
2            139441   Photo         ...           14.0                  80
3            139441   Photo         ...          147.0                1777
4            139441   Photo         ...           49.0                 393
5            139441  Status         ...           33.0                 186
6            139441   Photo         ...           27.0                 279
7            139441   Photo         ...           14.0                 339
8            139441  Status         ...           31.0                 192
9            139441   Photo         ...           26.0                 142

[10 rows x 19 columns]

In [20]:
#define type fo each columns
df.dtypes

Page total likes                                                         int64
Type                                                                    object
Category                                                                 int64
Post Month                                                               int64
Post Weekday                                                             int64
Post Hour                                                                int64
Paid                                                                   float64
Lifetime Post Total Reach                                                int64
Lifetime Post Total Impressions                                          int64
Lifetime Engaged Users                                                   int64
Lifetime Post Consumers                                                  int64
Lifetime Post Consumptions                                               int64
Lifetime Post Impressions by people who have liked your Page             int64
Lifetime Post reach by people who like your Page                         int64
Lifetime People who have liked your Page and engaged with your post      int64
comment                                                                  int64
like                                                                   float64
share                                                                  float64
Total Interactions                                                       int64
dtype: object

In [40]:
# define mean, max, min, 50% - mediana, (среднее, максимальное, минимальное, медиана)
df_all=df.describe()
df_all= df_all.drop(['count', 'std', '25%', '75%'], axis = 0) #исключим лишниe первый и третий квартили и число строк
df_all

      Page total likes         ...          Total Interactions
mean        123194.176         ...                      212.12
min          81370.000         ...                        0.00
50%         129600.000         ...                      123.50
max         139441.000         ...                     6334.00

[4 rows x 18 columns]

In [50]:
#moda, найдем моду 
df.mode().head(1)

   Page total likes   Type         ...          share  Total Interactions
0          136393.0  Photo         ...           13.0                 0.0

[1 rows x 19 columns]

In [47]:
#определим какие типы бывают в данных
df.Type.value_counts()

Photo     426
Status     45
Link       22
Video       7
Name: Type, dtype: int64

In [48]:
#distribute data by type
df_photo = df[df['Type'] == 'Photo']
df_status = df[df['Type'] == 'Status']
df_link = df[df['Type'] == 'Link']
df_video = df[df['Type'] == 'Video']

In [53]:
#Type = photo
#аналогичено для каждого типа выводим среднее значение, минимальное, медиана = 50%, максимальное
df_photo1=df_photo.describe()
df_photo1 = df_photo1.drop(['count', 'std', '25%', '75%'], axis = 0)
df_photo1

      Page total likes         ...          Total Interactions
mean     122354.171362         ...                  216.579812
min       81370.000000         ...                    0.000000
50%      128032.000000         ...                  122.000000
max      139441.000000         ...                 6334.000000

[4 rows x 18 columns]

In [54]:
#мода для Photo
df_photo.mode().head(1)

   Page total likes   Type         ...          share  Total Interactions
0          124940.0  Photo         ...           14.0                 0.0

[1 rows x 19 columns]

In [55]:
#Type = status
df_status.describe().drop(['count', 'std', '25%', '75%'], axis = 0)

      Page total likes         ...          Total Interactions
mean     132647.044444         ...                  217.044444
min      104070.000000         ...                   17.000000
50%      135713.000000         ...                  186.000000
max      139441.000000         ...                 1009.000000

[4 rows x 18 columns]

In [56]:
#мода для Status
df_status.mode().head(1)

   Page total likes    Type         ...          share  Total Interactions
0          139441.0  Status         ...            1.0               117.0

[1 rows x 19 columns]

In [57]:
#Type = link
df_link.describe().drop(['count', 'std', '25%', '75%'], axis = 0)

      Page total likes         ...          Total Interactions
mean     116363.181818         ...                   89.045455
min       85979.000000         ...                    6.000000
50%      115396.000000         ...                   52.500000
max      138895.000000         ...                  420.000000

[4 rows x 18 columns]

In [58]:
#мода для Link
df_link.mode().head(1)

   Page total likes  Type         ...          share  Total Interactions
0          138353.0  Link         ...            2.0                14.0

[1 rows x 19 columns]

In [59]:
#Type = Video
df_video.describe().drop(['count', 'std', '25%', '75%'], axis = 0)

      Page total likes         ...          Total Interactions
mean     135014.857143         ...                  295.857143
min      126424.000000         ...                   81.000000
50%      137893.000000         ...                  271.000000
max      138895.000000         ...                  550.000000

[4 rows x 18 columns]

In [85]:
#мода для Video
df_video.mode().head(1)

   Page total likes   Type         ...          share  Total Interactions
0          137893.0  Video         ...           13.0                  81

[1 rows x 19 columns]

In [83]:
#определим самый популярный объект
# Отсортируем все объекты по убыванию в порядке значимости критерия популярности
    #1. лайки
    #2. Количество комментариев
    #3. Количество взаимодействий с объектом
    # посмотрим на отсортированные данные, для того чтобы определить нужно ли проводить отбор по другим критерием
    # объект с индексом 244 (photo) является самым популярным, из-за наибольшего количества лайков (максимальное количество по всем объектам), 
    #комментариев (тоже максимальное количество по всем объектам), и просто взаимодействий с ним.
df1 = df.sort_values(['like','comment', 'Total Interactions'],ascending = False)
#Самый популярный объект
df1.head(1)

     Page total likes   Type         ...          share  Total Interactions
244            130791  Photo         ...          790.0                6334

[1 rows x 19 columns]